doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Online API Testing service
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/bootstrap.bundle.min.js")
  body
    block content
    .container.footer.d-flex.justify-content-center
      .row.align-items-center
        .col-12
          span 2022 &copy; 
          a(href="http://demenkov.dp.ua", target="_blank", rel="noopener noreferrer") Ivan Demenkov
          span , All rights reserved 
